h1,
p {
  font-family: Lato;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-box {
  border: 2px solid black;
  height: auto;
  width: 300px;
}

.author {
  text-align: end;
}

.btn {
  display: flex;
  justify-content: space-between;
}
